 *{
 	box-sizing:border-box;
 	padding:0;
 	margin:0;
 }
/*HEADER*/
 header{
 	background: url(../image/large.jpg)no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	background-color:rgba(3, 3, 3, 0.4);
    background-blend-mode: color;	   
    padding-top:3%;
	vertical-align:middle;
}
/*MENU*/
header nav {
    font-size: 1.1em;
    text-align: right;
    vertical-align:middle;
}
header nav a{
	color: white;
    padding: 3%;
    font-size: 1.1em;
    vertical-align: middle;
}
header nav a:hover{
	text-decoration:none;
	color:#0174DF;
}
header h1{
	padding-top:15%;
	width:600px;
	text-align:center;
	color:white;
	margin:auto;

}.free{
	background-color:rgba(80, 140, 218, 0.81);
	width:100%;
	height:150px;
	margin-top:12%;
	display:inline-block;
	color:white;
}
.textfree{
	display: inline-block;
	margin-top:5%;
	text-align:right;
	float:right;
}
.buttonfree{
	display:inline-block;
	padding:2%;
	border:2px solid white;
	border-radius:5px;
	display:inline-block;
	color:white;
	font-size:1.5em;
	margin-top:10%;
}
.buttonfree:hover{
	background-color:white;
	color:#74A3DB;
}
/*SECTION*/
.servicios h2{
	color:#77B5FF;
	text-align:center;
	padding:2%;
	font-weight:lighter;
}
.circle{
	text-align: center;
	margin-top:50px;
}
 .circle i{
	color:#0080FF;
	padding:15%;
	font-size:50px;
	border-radius: 50%;
	border:1px solid #F1F1F1;
	-webkit-box-shadow: -1px 11px 19px 2px rgba(199,199,199,1);
	-moz-box-shadow: -1px 11px 19px 2px rgba(199,199,199,1);
	box-shadow: -1px 11px 19px 2px rgba(199,199,199,1);
}
.textserv{
	margin-top: 80px;
    padding: 5%;
    text-align: center;
    padding-left: 15%;
    padding-right: 20%;
}
.textserv h4{
	color:#7D96AE;
	font-weight:bold;
	padding-left:5%;
	padding-right:5%;
	text-align:center;
}
/*SEPARADOR*/
.raya{
	margin-top:50px;
    border-top:1px solid rgba(91,91,91,0.18);
    width: 100%;
    z-index: 100;
    text-align: center;
}
.separador1{
    position: relative;
    bottom: 50px;
}
/*SECTION*/
.user{
	padding-top:30px;
	padding-bottom:30px;
}
.user h3{
	padding-left:30px;
	padding-bottom:20px;
	display:inline-block;
	color:#6CAFFF;
	font-size:2.5em;
}
.user .logo-2{
	width:300px;
	display:inline-block;
}
.user p{
	padding:5px 0px 5px 15px;
	font-size:1.1em;
}
.user a{
	padding-left:15px;
	font-size:1.1em;
}
/*SECTION */
.sec2{
	padding-top:50px;
}
.image{
	background:url("../image/sec-2.jpg")no-repeat;
	background-size:cover;
	background-color:rgba(3, 3, 3, 0.74);
    background-blend-mode: color;	  
	height:500px;
	width:100%;
}
.sec2 a{
	margin-top:80px;
	position:relative;
	left:10px;
	border-radius:100%;
	background-color:#50BDEA;
	display:block;
	padding:2%;
	font-size:30px;
	color:white;
	float:right;
}
.sec2 img{
	margin-top:30px;
	position:relative;
	left:40px;
	padding:2%;
	font-size:30px;
	color:white;
	float:right;
}
.sec2 a:hover{
	text-decoration:none;
	color:white;
}
.sec2 ul{
	margin-left:50px;
	font-size:
}.sec2 h2,p{
	padding-left:30px;
	font-size:1.1em;
}
.sec2 h4{
	color:#2ECCFA;
	padding-left:30px;
}
/*SECTION*/
/*ES LO MISMO QUE USER SLO AGREGRARL UL*/
.user ul{
	margin-left:50px;
	font-size:1.1em;
}
.banner{
	padding-top:30px;
	width:100%;
	margin-left:50px;
}
.banner img{
	width:100%;
}
/*SECTION FINAL FREE*/
.test{
	background-color:#74A3DB;
	height:150px;
	text-align:center;
}
.testfree{
	display: inline-block;
	margin-top:5%;
	color:white;
}
.buttontest{
	display:inline-block;
	padding:2%;
	border:2px solid white;
	border-radius:5px;
	display:inline-block;
	color:white;
	font-size:1.5em;
	margin-top:10%;
	text-align:center;
}
.buttontest:hover{
	background-color:white;
	color:#74A3DB;
}
/*FOOTER*/
footer{
	background-color:#2A3541;
	height:150px;
	color: white;
	padding:30px;
}
footer .left{
	float:left;
	text-align:left;
}.left p{
	margin:5px 0 5px 0;
	padding:0;
}
footer .right{
	float:right;
	text-align:right;
}
.right i{
	font-size:30px;
	padding-left:20px;
	padding-bottom:10px;
	color:#0080FF;	
}
.right p{
	margin-top:10px;
}